body{
    background-image:url(https://img.freepik.com/free-vector/fast-food-background-with-flat-design_23-2147861229.jpg?semt=ais_tags_boosted);
   font-family:sans-serif;
   padding:20px;
}
h1{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
